<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegistroSecuestroAutomotorQueryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <RegistroSecuestroAutomotorQueryApp.Properties.Settings>
            <setting name="FilesFolderSource" serializeAs="String">
                <value>C:\TEMP</value>
            </setting>
            <setting name="FilesFolderDestinationActive" serializeAs="String">
                <value>C:\TEMP\Activos</value>
            </setting>
            <setting name="FilesFolderDestinationInactive" serializeAs="String">
                <value>C:\TEMP\Inactivos</value>
            </setting>
            <setting name="FilesFolderDestinationUrgent" serializeAs="String">
                <value>C:\TEMP\Urgentes</value>
            </setting>
            <setting name="FilesFolderDestinationUseCameraSubfolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilesNameFieldSeparator" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="FilesFieldCameraOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilesFieldPlateOrder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FilesFieldDateOrder" serializeAs="String">
                <value>3</value>
            </setting>
        </RegistroSecuestroAutomotorQueryApp.Properties.Settings>
    </applicationSettings>
</configuration>